body {
  margin: 0px;
  font-size: 14px;
  background-image: url("../images/wallpaper.jpg");
  background-size: 120%;
  background-repeat: repeat-y repeat-x;
  background-position: center top;
  line-height: 1;
}

#active {
  background-color: rgba(26, 44, 44, 1.0);
/*  border-right: 1px solid #496E91;
  border-left: 1px solid #496E91;*/
  border-bottom: 1px solid rgba(26, 44, 44, 1.0);
}

#landing-image {
  width: 80%;
  /*margin-top: 100px;*/
  /*margin-bottom: 200px;*/
}

.wrapper {
  /*height: 772px;*/
  height: 650px;
  margin: 65px auto;
}

.landing-page-container {
  background-color: black;
/*  border: 1px solid darkgoldenrod;*/
  border-top: 5px solid darkgoldenrod;
  border-bottom: 5px solid darkgoldenrod;
  width: 100%;
  height: 104%;
  /*text-align: center;*/
  margin: auto;
}

#landing-page {
  text-align: center;
}

p {
  color: #333132;
}

.container > h1, .container * label, .container * button  {
  text-align: center;
  color: darkgoldenrod;
}

.container {
  /*background-color: blue;*/
  height: 80%;
  width: 100%;
  margin: auto;
}

#columns {
  display: flex;
}

#login-container {
  border-right: 5px solid darkgoldenrod;
}

/******NAVBAR******/
/******************/

.navbar-container {
  height: 46px;
  border-bottom: 3px solid rgba(26, 44, 44, 1.0);
  background: black;
  position: fixed;
  width: 100%;
  /*margin-top: -20px;*/
}

.navbar-buttons-container * a {
  height: 46px;
  padding-top: 8px;
  width: 100px;
  text-align: center;
}

.navbar-buttons-container * div, .navbar-buttons-container * a {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: auto 20px;
  color: #cfba6b;
}

.navbar-col1 {
  float: left;
  position: absolute;
  top: 0px;
  left: 8%;
}

.navbar-col3 {
  float: right;
  position: absolute;
  right: 8%;
  top: 0px;
}

.navbar-image {
  text-align: center;
  width: 400px;
  margin: auto;
}

/*****HOME/MAIN*PAGE******/
/*************************/

.dummy-container {
  /*margin: 240px 100px auto 100px;*/
  /*background-color: black;*/
  height: 60px;
}

.main-container {
  height: 400px;
  /*background-color: black;*/
  margin: auto 100px auto 100px;
  display: flex;
}

.main-column-one {
  flex: 1;
  order: 1;
  border-radius: 5px;
  margin-right: 10px;
  /*background-color: white;*/
/*  border: 2px solid darkgoldenrod;*/
}

.main-column-two {
  order: 2;
  border-radius: 5px;
  margin-right: 10px;
  flex: 2;
  margin-bottom: 20px;
}

.main-column-three {
  order: 3;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: blue;
  flex: 1;
}


/***Column 1 CSS****/
/*******************/

.main-user-container {
  padding: 10px;
}

#user-profile-default {
  border: 1px solid darkgoldenrod;
  /*temporary until fixed later*/
  float: left;
}

/*Transition test*/
/*.main-user-container:hover {
  transform: scale(1.2);
}*/

.user-info > p {
  margin: -2px;
  margin-left: 75px;
}

.links {
  height: 95px;
  background-color: white;
  border: 2px solid darkgoldenrod;
  border-radius: 5px;
}

/***Column 2 CSS****/
/*******************/

#body-content {
  width: 100%;
  height: 100px;
}

.panel-body {
  border: 2px solid #496E91;
  border-radius: 5px;
  background-color: #e9eaec;
}

#main-user-container {
  padding: 0px;
}

#user-info > p {
  text-align: left;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 20px;
}

#user-info {
  display: inline-block;
}

#more-user-info {
  display: inline-block;
}

#more-user-info > p {
  margin: -2px;
  font-size: 20px;
  text-align: left;
}

.actions > p {
  display: inline;
}

.actions {
  text-align: left;
}


/**Edit Profile CSS**/
/*******************/


#edit-user-info > p {
  margin-left: 0px;
  margin: 0px;
}
