<nav>
  <div ng-controller="NavBarController as vm" class="navbar-container">
    <div class="navbar-image">
      <img src="../../../images/riot-fist.png" width="40px" height="40px">
    </div>
      <div class="navbar-buttons-container">
        <div class="navbar-col1">
          <div><a ui-sref="home">Home</a></div>
          <div><a ui-sref="user-list">Users</a></div>
          <div>Teams</div>
        </div>
        <div class="navbar-col3">
          <div>User</div>
          <div ng-click="vm.authService.logOut()"><a ui-sref="landing_page">Log Out</a></div>
        </div>
      </div>
  </div>
</nav>

<div class="dummy-container">
</div>

<div class="main-container">
  <div class="main-column-one">
    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px">
        <div class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{vm.authService.currentUser().profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p>IGN: {{vm.authService.currentUser().ign}}<p>
            <p>Role: {{vm.authService.currentUser().primary_role}}<p>
            <p>Rank: {{vm.authService.currentUser().tier}} {{vm.authService.currentUser().division}}<p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>yo</p>
      </div>
    </div>

  </div>

  <div ng-controller="PostController as vm" class="main-column-two">
    <div class="panel panel-default" style="margin-bottom:0px">
      <form class="post-form" ng-submit="vm.submitPost(vm.authService.currentUser()._id)">
        <div class="panel-body">
          <div class="form-group">
            <label>Title:</label>
            <input ng-model="vm.createPost.title" type="text">
          </div>
          <div class="form-group">
            <label>Body:</label>
            <input id="body-content" ng-model="vm.createPost.body" type="text">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
<!-- Fix HTML & CSS LATER -->
    <div class="post-list">
      <div ng-repeat="post in vm.all" class="panel panel-default" style="margin-bottom:0px">
        <div class="panel-body">
          <p>Title: {{post.title}}</p>
          <p>Body: {{post.body}}</p>
          <p>Author: {{post.author.ign}}</p>
          <p>Created At: {{post.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="main-column-three">

  </div>
</div>
