<nav>
  <div ng-controller="NavBarController as vm" class="navbar-container">
    <div class="navbar-image">
      <img src="../../../images/riot-fist.png" width="40px" height="40px">
    </div>
      <div class="navbar-buttons-container">
        <div class="navbar-col1">
          <div><a ui-sref="home">Home</a></div>
          <div><a ui-sref="user-list">Users</a></div>
          <div><a id="active" ui-sref="team-list">Teams</a></div>
        </div>
        <div class="navbar-col3">
          <div><a ui-sref="user-profile({username: vm.authService.currentUser().ign})">{{vm.authService.currentUser().ign}}</a></div>
          <div ng-click="vm.authService.logOut()"><a ui-sref="landing_page">Log Out</a></div>
        </div>
      </div>
  </div>
</nav>

<div class="dummy-container">
</div>

<div class="main-container">
  <div class="main-column-one">
    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px">
        <div class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{vm.authService.currentUser().profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>IGN:</b> <a ui-sref="user-profile({username: vm.authService.currentUser().ign})">{{vm.authService.currentUser().ign}}</a><p>
            <p><b>Role:</b> {{vm.authService.currentUser().primary_role}}<p>
            <p><b>Rank:</b> {{(vm.authService.currentUser().tier) || "UNRANKED"}} {{vm.authService.currentUser().division}}<p>
            <p><b>Team:</b> <a ui-sref="team-profile({team: vm.authService.currentUser().team.team_abbr})">[ {{vm.authService.currentUser().team.team_abbr}} ]</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px; padding-bottom: 20px">
        <h1 id="heading">Related Links</h1>
        <div class="twolinkcolumn">
          <div>
          <li><a href="http://www.lolesports.com/en_US/">LoL eSports</a></li>
          <li><a href="http://www.thescoreesports.com/top_news">The Score eSports</a></li>
          <li><a href="http://www.lolking.net/">LOLKING</a></li>
          <li><a href="http://www.mobafire.com/">Moba Fire</a></li>
          </div>
          <div>
          <li><a href="http://www.solomid.net/">SoloMid</a></li>
          <li><a href="http://www.lolnexus.com/">LoL Nexus</a></li>
          <li><a href="http://espn.go.com/esports/">ESPN eSports</a></li>
          <li><a href="http://www.dailydot.com/topics/esports/">The Daily Dot</a></li>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div ng-controller="TeamController as vm" class="main-column-two">

<!-- Fix HTML & CSS LATER -->
    <div class="list">
      <div class="panel panel-default" style="margin-bottom:0px">
        <div class="panel-body" style="padding: 10px 10px 10px 10px">
          <div id="main-user-container" class="main-user-container">
            <div id="edit-user-info" class="user-info">
              <form ng-submit="vm.submitTeam()">
                <div class="form-group">
                  <label>Team Name</label>
                  <input ng-model="vm.createTeam.name" type="text" maxlength="24" class="form-control" placeholder="Team Name (Maxlength: 24)">
                </div>
                <div class="form-group">
                  <label>Team Abbreviation</label>
                  <input ng-model="vm.createTeam.team_abbr" type="text" maxlength="3" class="form-control" placeholder="Team Abbreviation. Ex: TSM">
                </div>
                <div class="form-group">
                  <label>Team Image</label>
                  <input ng-model="vm.createTeam.team_image" type="text" class="form-control" placeholder="Team Image">
                </div>
                <div class="form-group">
                  <label>Location</label>
                  <input ng-model="vm.createTeam.location" type="text" class="form-control" placeholder="Location">
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <input ng-model="vm.createTeam.description" type="text" class="form-control" placeholder="Description">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
            <div class="actions">
              <p ng-show="vm.toggleValue" ng-click="vm.toggleEdit()"><a href="">Edit Information</a></p>
              <p ng-hide="vm.toggleValue" ng-click="vm.toggleEdit()"><a href="">Back</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-column-three">
    <div ng-controller="TeamController as vm" class="panel panel-default">
      <div class="panel-body" style="padding:0px">
      <h1 id="heading">Recent Teams</h1>
        <div ng-repeat="team in vm.all.slice().reverse()" class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="{{team.team_image}}" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>Team: </b><a ui-sref="team-profile({team: team.team_abbr})">{{team.name}}</a></p>
            <p><b>Owner: </b><a ui-sref="user-profile({username: team.owner.ign})">{{team.owner.ign}}</a><p>
            <p><b>Location:</b> {{team.location}}<p>
            <p><b>Members:</b> {{team.members.length}}</p>
          </div>
        </div>
        <p id="create-team">Want to create your own team? <br> Click <a ui-sref="create-team">here.</a></p>
      </div>
    </div>

    <div ng-controller="UserController as vm" class="panel panel-default">
      <div class="panel-body" style="padding:0px">
      <h1 id="heading">Recent Users</h1>
        <div ng-repeat="user in vm.all.slice().reverse()" class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{user.profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>IGN: </b><a ui-sref="user-profile({username: user.ign})">{{user.ign}}</a><p>
            <p><b>Role:</b> {{user.primary_role}}<p>
            <p><b>Rank:</b> {{(user.tier) || "UNRANKED"}} {{user.division}}<p>
            <p><b>Team: </b><a ui-sref="team-profile({team: user.team.team_abbr})"> [ {{user.team.team_abbr}} ]</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
