<nav>
  <div ng-controller="NavBarController as vm" class="navbar-container">
    <div class="navbar-image">
      <img src="../../../images/riot-fist.png" width="40px" height="40px">
    </div>
      <div class="navbar-buttons-container">
        <div class="navbar-col1">
          <div><a ui-sref="home">Home</a></div>
          <div><a ui-sref="user-list">Users</a></div>
          <div><a id="active" ui-sref="team-list">Teams</a></div>
        </div>
        <div class="navbar-col3">
          <div><a ui-sref="edit-profile({username: vm.authService.currentUser().ign})">{{vm.authService.currentUser().ign}}</a></div>
          <div ng-click="vm.authService.logOut()"><a ui-sref="landing_page">Log Out</a></div>
        </div>
      </div>
  </div>
</nav>

<div class="dummy-container">
</div>

<div class="main-container">
  <div class="main-column-one">
    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px">
        <div class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{vm.authService.currentUser().profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>IGN:</b> <a ui-sref="user-profile({username: vm.authService.currentUser().ign})">{{vm.authService.currentUser().ign}}</a><p>
            <p><b>Role:</b> {{vm.authService.currentUser().primary_role}}<p>
            <p><b>Rank:</b> {{vm.authService.currentUser().tier}} {{vm.authService.currentUser().division}}<p>
            <p><b>Team:</b> [ {{vm.authService.currentUser().team.team_abbr}} ]</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>yo</p>
      </div>
    </div>

  </div>

  <div ng-controller="TeamController as vm" class="main-column-two">

<!-- Fix HTML & CSS LATER -->
    <div class="list">
      <div ng-repeat="team in vm.all" class="panel panel-default" style="margin-bottom:0px">
        <div class="panel-body" style="padding: 10px 10px 10px 10px">
          <div id="main-user-container" class="main-user-container">
            <div class="user-image">
              <img id="user-profile-default" src="{{team.team_image}}" width="100px" height="100px">
            </div>
            <div id="user-info" class="user-info">
              <p><b>Team:</b> {{team.name}}<p>
              <p><b>Owner:</b> {{team.owner.ign}}<p>
              <p><b>Location:</b> {{team.location}}<p>
              <p><b>Members:</b> {{team.members.length}}</p>
            </div>
            <div class="actions">
              <p><u><a ui-sref="team-profile({team: team.team_abbr})">View Team Profile</a></u></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-column-three">
    <div ng-controller="TeamController as vm" class="panel panel-default">
      <div class="panel-body" style="padding:0px">
      <h1>Recent Teams</h1>
        <div ng-repeat="team in vm.all.slice().reverse()" class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="{{team.team_image}}" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>Team:</b> {{team.name}}<p>
            <p><b>Owner:</b> {{team.owner.ign}}<p>
            <p><b>Location:</b> {{team.location}}<p>
            <p><b>Members:</b> {{team.members.length}}</p>
          </div>
        </div>
        <p>Want to create your own team? Click <a ui-sref="create-team">here.</a></p>
      </div>
    </div>

    <div ng-controller="UserController as vm" class="panel panel-default">
      <div class="panel-body" style="padding:0px">
      <h1>Recent Users</h1>
        <div ng-repeat="user in vm.all.slice().reverse()" class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{user.profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>IGN:</b> <a ui-sref="user-profile({username: user.ign})">{{user.ign}}</a><p>
            <p><b>Role:</b> {{user.primary_role}}<p>
            <p><b>Rank:</b> {{user.tier}} {{user.division}}<p>
            <p><b>Team:</b> [ {{user.team.team_abbr}} ]</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
