<nav>
  <div ng-controller="NavBarController as vm" class="navbar-container">
    <div class="navbar-image">
      <img src="../../../images/riot-fist.png" width="40px" height="40px">
    </div>
      <div class="navbar-buttons-container">
        <div class="navbar-col1">
          <div><a ui-sref="home">Home</a></div>
          <div><a ui-sref="user-list">Users</a></div>
          <div><a id="active" ui-sref="team-list">Teams</a></div>
        </div>
        <div class="navbar-col3">
          <div><a ui-sref="edit-profile({username: vm.authService.currentUser().ign})">{{vm.authService.currentUser().ign}}</a></div>
          <div ng-click="vm.authService.logOut()"><a ui-sref="landing_page">Log Out</a></div>
        </div>
      </div>
  </div>
</nav>

<div class="dummy-container">
</div>

<div class="main-container">
  <div ng-controller="TeamController as vm" class="main-column-one">
    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px">
      <!-- <img id="champion-profile-background" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{vm.authService.currentUser().champion_pool[0].champName}}_1.jpg" style="background"> -->
      <div id="champion-profile-background" style="background-image: url({{vm.storeTeamData.team_banner}}); background-size: cover"></div>
        <div class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="{{vm.storeTeamData.team_image}}" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>Team: </b><a ui-sref="team-profile({team: vm.storeTeamData.team_abbr})">{{vm.storeTeamData.name}}</a> [ {{vm.storeTeamData.team_abbr}} ]<p>
            <p><b>Owner: </b><a ui-sref="user-profile({username: vm.storeTeamData.owner.ign})"> {{vm.storeTeamData.owner.ign}}</a><p>
            <p><b>Location:</b> {{vm.storeTeamData.location}}<p>
            <p><b>Members:</b> {{vm.storeTeamData.members.length}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px; padding-bottom: 20px">
        <h1 id="heading">Related Links</h1>
        <div class="twolinkcolumn">
          <div>
          <li><a href="http://www.lolesports.com/en_US/">LoL eSports</a></li>
          <li><a href="http://www.thescoreesports.com/top_news">The Score eSports</a></li>
          <li><a href="http://www.lolking.net/">LOLKING</a></li>
          <li><a href="http://www.mobafire.com/">Moba Fire</a></li>
          </div>
          <div>
          <li><a href="http://www.solomid.net/">SoloMid</a></li>
          <li><a href="http://www.lolnexus.com/">LoL Nexus</a></li>
          <li><a href="http://espn.go.com/esports/">ESPN eSports</a></li>
          <li><a href="http://www.dailydot.com/topics/esports/">The Daily Dot</a></li>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div ng-controller="TeamController as vm" class="main-column-two">

<!-- Fix HTML & CSS LATER -->
    <div class="list">
      <div class="panel panel-default" style="margin-bottom:0px">
        <div class="panel-body" style="padding: 10px 10px 10px 10px">
          <div id="main-user-container" class="main-user-container">
            <div class="user-image">
              <img id="user-profile-default" src="{{vm.storeTeamData.team_image}}" width="100px" height="100px">
            </div>
            <div id="user-info" class="user-info">
              <p><b>Team: </b><a ui-sref="team-profile({team: vm.storeTeamData.team_abbr})">{{vm.storeTeamData.name}}</a></p>
              <p><b>Owner: </b><a ui-sref="user-profile({username: vm.storeTeamData.owner.ign})">{{vm.storeTeamData.owner.ign}}</a><p>
              <p><b>Location:</b> {{vm.storeTeamData.location}}<p>
              <p><b>Created On:</b> {{vm.storeTeamData.createdAt | date:'MM/dd/yyyy'}}<p>
            </div>
            <div id="user-info" class="user-info">
              <p><b>Members:</b> {{vm.storeTeamData.members.length}}</p>
              <div ng-repeat="member in vm.storeTeamData.members" id="main-user-container" class="main-user-container">
                <div id="user-info" class="user-image">
                  <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{member.profile_defaultId}}.png" width="100px" height="100px">
                </div>
                <div id="user-info" class="user-info">
                  <p><b>IGN:</b> <a ui-sref="user-profile({username: member.ign})">{{member.ign}}</a><p>
                  <p><b>Role:</b> {{member.primary_role}}<p>
                  <p><b>Rank:</b> {{member.tier}} {{member.division}}<p>
                  <p><b>Team: </b><a ui-sref="team-profile({team: member.team.team_abbr})">[ {{member.team.team_abbr}} ]</a></p>
                </div>
                <div id="user-info" class="user-info">
                  <p><b>Wins:</b> {{member.wins}} / Losses: {{member.losses}}<p>
                  <p><b>Win%:</b> {{(member.wins / (member.losses + member.wins)) * 100| number:0}}%<p>
                  <p><b>Transportation:</b> {{member.transportation}} <p>
                  <p><b>Location:</b> {{member.location}}</p>
                </div>
              </div>
              <p><b>Description: </b> {{vm.storeTeamData.description}}</p>
            </div>
            <div class="actions">
              <p ng-hide="vm.authService.currentUser().team.team_abbr" ng-click="vm.joinTeam(vm.authService.currentUser(), vm.storeTeamData.team_abbr)"><a href=""><u>Join Team</u></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="main-column-three">
    <div ng-controller="TeamController as vm" class="panel panel-default">
      <div class="panel-body" style="padding:0px">
      <h1 id="heading">Recent Teams</h1>
        <div ng-repeat="team in vm.all.slice().reverse()" class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="{{team.team_image}}" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>Team: </b><a ui-sref="team-profile({team: team.team_abbr})">{{team.name}}</a></p>
            <p><b>Owner: </b><a ui-sref="user-profile({username: team.owner.ign})">{{team.owner.ign}}</a><p>
            <p><b>Location:</b> {{team.location}}<p>
            <p><b>Members:</b> {{team.members.length}}</p>
          </div>
        </div>
        <p id="create-team">Want to create your own team? <br> Click <a ui-sref="create-team">here.</a></p>
      </div>
    </div>

    <div ng-controller="UserController as vm" class="panel panel-default">
      <div class="panel-body" style="padding:0px">
      <h1 id="heading">Recent Users</h1>
        <div ng-repeat="user in vm.all.slice().reverse()" class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{user.profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p><b>IGN: </b><a ui-sref="user-profile({username: user.ign})">{{user.ign}}</a><p>
            <p><b>Role:</b> {{user.primary_role}}<p>
            <p><b>Rank:</b> {{(user.tier) || "UNRANKED"}} {{user.division}}<p>
            <p><b>Team: </b><a ui-sref="team-profile({team: user.team.team_abbr})"> [ {{user.team.team_abbr}} ]</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
