<nav>
  <div ng-controller="NavBarController as vm" class="navbar-container">
    <div class="navbar-image">
      <img src="../../../images/riot-fist.png" width="40px" height="40px">
    </div>
      <div class="navbar-buttons-container">
        <div class="navbar-col1">
          <div><a ui-sref="home">Home</a></div>
          <div><a id="active" ui-sref="user-list">Users</a></div>
          <div><a ui-sref="team-list">Teams</a></div>
        </div>
        <div class="navbar-col3">
          <div><a ui-sref="edit-profile({username: vm.authService.currentUser().ign})">{{vm.authService.currentUser().ign}}</a></div>
          <div ng-click="vm.authService.logOut()"><a ui-sref="landing_page">Log Out</a></div>
        </div>
      </div>
  </div>
</nav>

<div class="dummy-container">
</div>

<div ng-controller="UserController as vm" class="main-container">
  <div class="main-column-one">
    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px">
        <div class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{vm.storeUserData.profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p>IGN: {{vm.storeUserData.ign}}<p>
            <p>Role: {{vm.storeUserData.primary_role}}<p>
            <p>Rank: {{vm.storeUserData.tier}} {{vm.storeUserData.division}}<p>
            <p>Team: {{vm.storeUserData.team}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>yo</p>
      </div>
    </div>

  </div>

  <div ng-controller="UserController as vm" class="main-column-two">

<!-- Fix HTML & CSS LATER -->
    <div class="list">
      <div class="panel panel-default" style="margin-bottom:0px">
        <div class="panel-body" style="padding: 10px 10px 10px 10px">
          <div id="main-user-container" class="main-user-container">
            <div ng-show="vm.toggleValue" class="user-image">
              <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{vm.storeUserData.profile_defaultId}}.png" width="100px" height="100px">
            </div>
            <div ng-show="vm.toggleValue" id="user-info" class="user-info">
              <p>IGN: {{vm.storeUserData.ign}}<p>
              <p>Role: {{vm.storeUserData.primary_role}}<p>
              <p>Rank: {{vm.storeUserData.tier}} {{vm.storeUserData.division}}<p>
              <p>Team: {{vm.storeUserData.team}}</p>
            </div>
            <div ng-show="vm.toggleValue" id="user-info" class="user-info">
              <p>Wins: {{vm.storeUserData.wins}} / Losses: {{vm.storeUserData.losses}}<p>
              <p>Win%: {{(vm.storeUserData.wins / (vm.storeUserData.losses + vm.storeUserData.wins)) * 100| number:0}}%<p>
              <p>Transportation: {{vm.storeUserData.transportation}} <p>
              <p>Location: {{vm.storeUserData.location}}</p>
            </div>
            <div ng-show="vm.toggleValue" id="more-user-info">
              <p>Email: {{vm.storeUserData.email}}</p>
              <p>Description: {{vm.storeUserData.description}}</p>
              <p>Champion Pool : {{vm.storeUserData.champion_pool}}</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-column-three">

  </div>
</div>
