<nav>
  <div ng-controller="NavBarController as vm" class="navbar-container">
    <div class="navbar-image">
      <img src="../../../images/riot-fist.png" width="40px" height="40px">
    </div>
      <div class="navbar-buttons-container">
        <div class="navbar-col1">
          <div><a ui-sref="home">Home</a></div>
          <div><a id="active" ui-sref="user-list">Users</a></div>
          <div><a ui-sref="team-list">Teams</a></div>
        </div>
        <div class="navbar-col3">
          <div><a ui-sref="edit-profile({username: vm.authService.currentUser().ign})">{{vm.authService.currentUser().ign}}</a></div>
          <div ng-click="vm.authService.logOut()"><a ui-sref="landing_page">Log Out</a></div>
        </div>
      </div>
  </div>
</nav>

<div class="dummy-container">
</div>

<div class="main-container">
  <div class="main-column-one">
    <div class="panel panel-default">
      <div class="panel-body" style="padding:0px">
        <div class="main-user-container">
          <div class="user-image">
            <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{vm.authService.currentUser().profile_defaultId}}.png" width="70px" height="70px">
          </div>
          <div class="user-info">
            <p>IGN: {{vm.authService.currentUser().ign}}<p>
            <p>Role: {{vm.authService.currentUser().primary_role}}<p>
            <p>Rank: {{vm.authService.currentUser().tier}} {{vm.authService.currentUser().division}}<p>
            <p>Team: {{vm.authService.currentUser().team}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>yo</p>
      </div>
    </div>

  </div>

  <div ng-controller="UserController as vm" class="main-column-two">

<!-- Fix HTML & CSS LATER -->
    <div class="list">
      <div ng-repeat="user in vm.all" class="panel panel-default" style="margin-bottom:0px">
        <div class="panel-body" style="padding: 10px 10px 10px 10px">
          <div id="main-user-container" class="main-user-container">
            <div class="user-image">
              <img id="user-profile-default" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{user.profile_defaultId}}.png" width="100px" height="100px">
            </div>
            <div id="user-info" class="user-info">
              <p>IGN: {{user.ign}}<p>
              <p>Role: {{user.primary_role}}<p>
              <p>Rank: {{user.tier}} {{user.division}}<p>
              <p>Team: {{user.team}}</p>
            </div>
            <div id="user-info" class="user-info">
              <p>Wins: {{user.wins}} / Losses: {{user.losses}}<p>
              <p>Win%: {{(user.wins / (user.losses + user.wins)) * 100| number:0}}%<p>
              <p>Transportation: {{user.transportation}} <p>
              <p>Location: {{user.location}}</p>
            </div>
            <div id="more-user-info" ng-hide="vm.toggleInfoValue[$index]">
              <p>Email: {{user.email}}</p>
              <p>Description: {{user.description}}</p>
              <p>Champion Pool : {{user.champion_pool}}</p>
            </div>
            <div class="actions">
              <p ng-show="vm.toggleInfoValue[$index]" ng-click="vm.toggleInfo($index)"><u><a href="">More Info</a></u></p>
              <p ng-hide="vm.toggleInfoValue[$index]" ng-click="vm.toggleInfo($index)"><u><a href="">Close</a></u></p>
              <p><u><a ui-sref="user-profile({username: user.ign})">View Profile</a></u></p>
<!--               <p ng-click="vm.getUserInformation(user.ign)"><u>View Profile</u></p> -->
              <p><u>Add to Team</u></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-column-three">

  </div>
</div>

